h1 Hello World
    ul
      each element in $numbers
        li.red
          a.green(href="#") #{element.toLowerCase()}
      else
        li No
          strong money
          |!
    +svg(31, 31, 'pinFooter')
a:tel[href="+380670098700"]>+svg(19, 29, 'phone')
