footer.footer
  .footer-info
    .footer-media
      p.footer__email
        a.email-link(href='email:office@grandpalace.km.ua')
          +svg(31, 23, 'email')
          |office@grandpalace.km.ua
      p.footer__social.social-list
        a.social-link(href='#')
          +svg(31, 31, 'fb')
        a.social-link(href='#')
          object(class='icon' type='image/svg+xml' data='img/instagram.svg' width='31' height='31')
    .footer-address
      +svg(30, 40, 'pin-footer')
      p Відділення продажу
      p м. Хмельницький вул. Свободи, 14
    .footer__phone.phone-list
      a.phone-link(href='tel:+380670098700')
        +svg(19, 29, 'phone')
        |(067)&nbsp;00-98-700
      a.phone-link(href='tel:+380670098700')
        +svg(19, 29, 'phone')
        |(067)&nbsp;00-98-700
  .copyright
    p &copy; Copyright by &laquo;Grand Palace&raquo; 2012—2019
