header.header
  .container
    .header-info__items
      .info-items__left
        .header-info__item.menu__icon
          .icon__menu <!--open-->
            span
        .header-info__item.header__phone.phone-list
          a.phone-link(href='tel:+380670098700')
            +svg(19, 29, 'phone')
            |(067)&nbsp;00-98-700
      .header-info__item.header__logo
        a.menu__logo(href='/')
          img(src='img/logo-GrandPalace.png' width='201' height='92' alt='Grand Palace - житловий коплекс')
      .info-items__right
        .header-info__item.header__social.social-list
          a.social-link(href='#')
            +svg(31, 31, 'fb')
          a.social-link(href='#')
            //Через внешний спрайт не работает градиент. Оставить object но добавить pointer-events: none. Или подключить такие иконки через img
            object(class='icon' type='image/svg+xml' data='img/instagram.svg' width='31' height='31')
        .header-info__item.header__lng-toggle
          a(href='#') Укр
          a.active(href='#') Рус
    nav.header__menu
      ul.menu__list
        li
          a.menu__link.active(href='#' target='_blank') Житлова нерухомість
        li
          a.menu__link(href='#' target='_blank') Комерційна нерухомість
        li
          a.menu__link(href='#' target='_blank') Загальний план
        li
          a.menu__link(href='#' target='_blank') Переваги
        li
          a.menu__link(href='#' target='_blank') Хід будівництва
        li
          a.menu__link(href='#' target='_blank') Документація
        li
          a.menu__link(href='#' target='_blank') Контакти
