section.hero
  .container
    .row
      .left-side
        p.tagline Твій яскравий початок
        h1.title
          span.text Cучасний комфортний житловий комплекс з широким спектом зручностей гармонічно поєднаний з ТРЦ.
          span.text Використовання даху для прогулянкових зон відпочинку.
