section.overview
  .container
    span.btn.btn-arrow.btn-arrow--left
      +svg('arrow')
    span.btn.btn-arrow
      +svg('arrow')


    section.comfort.overview__items
      .container
        .content
          h2.title.content__title
            span.head-line Ваші
            |  зручності
          .content__description
            p Підземний паркінг на 148 місць з ліфтами для потрапляння безпосередньо до ліфтового холу житлової частини.
            p 70 місць для паркування авто навколо комплексу. Для Вашої зручності буде розміщена професійна хімчистка для догляду за Вашими речами.
        .overview__items-container
          article.overview__item
            .container
              .item-header
                .item-header__text Офіс
                .item-header__icon
                  +svg('office')
              .content
                h3.title.title--one-word.content__title
                  span.head-line Офіс
                p.content__description На 3 поверсі ТРЦ знаходяться офісні приміщення. Тут зручно проводити зустрічі з клієнтами та організовувати переговори з партнерами. Розташування у центрі міста забезпечить комфортні умови роботи для усіх працівників компанії.
          article.overview__item
            .container
              .item-header
                .item-header__text Паркінг
                .item-header__icon
                  +svg('undergroundParking')
              .content
                h3.title.title--one-word.content__title
                  span.head-line Паркінг
                p.content__description Забудьте про проблеми з паркуванням авто. Для Вашої зручності обладнаний підземний паркінг на 148 місць з ліфтами для потрапляння безпосередньо до ліфтового холу житлової частини. Також є в наявності 70 місць для паркування авто навколо комплексу.
          article.overview__item
            .container
              .item-header
                .item-header__text Хімчистка
                .item-header__icon
                  +svg('dryСleaning')
              .content
                h3.title.title--one-word.content__title
                  span.head-line Хімчистка
                p.content__description Подбайте про свій одяг. Для того, щоб одяг довго зберігав початковий вигляд, яскравість фарб і був безпечним для здоров’я, необхідно забезпечити йому правильний догляд. Для Вашої зручності буде розміщена професійна хімчистка для догляду за вашими речами.

    section.leisure.overview__items
      .container
        .content
          h2.title.content__title
            span.head-line Ваше
            |  дозвілля
          p.content__description Дозвілля є способом соціалізації, запорукою здоров’я і добробуту людей. Відпочиваючи, ми розслабляємось, самовиражаємось і розвиваємось. Вченими доведено, що організоване, сплановане дозвілля - це умова для доброго, позитивного спілкування у сім"ї.
        .overview__items-container
          article.overview__item
            .container
              .item-header
                .item-header__text Ресторани
                .item-header__icon
                  +svg('restaurants')
              .content
                h3.title.title--one-word.content__title
                  span.head-line Ресторани
                p.content__description У швидкому темпі нашого життя ми не завжди маємо час для готування їжі. Завітате до наших ресторанів для сніданку, обіду чи вечері. На Ваш вибір є три ресторани, фаст-фуд та дитяче кафе. Обирайте будь - який на свій смак та не витрачайте час на затори дорогою до ресторану.
          article.overview__item
            .container
              .item-header
                .item-header__text Покупки
                .item-header__icon
                  +svg('purchases')
              .content
                h3.title.title--one-word.content__title
                  span.head-line Покупки
                p.content__description Здійснюйте покупки не витрачаючи часу на дорогу. Торгово-розважальний центр розташований у самому центрі міста. ТРЦ включає в себе бутікову мережу, продуктовий супермаркет, відділ електроніки та меблевий салон. Комфортний шопінг у сучасному ТРЦ для усієї родини.
          article.overview__item
            .container
              .item-header
                .item-header__text Парк
                .item-header__icon
                  +svg('park')
              .content
                h3.title.title--one-word.content__title
                  span.head-line Парк
                p.content__description На 4 поверсі між 1-2 чергою розміщується відкритий парк розміром 1150 м2 з видом на вулицю Свободи, висаджений газоном, декоративними деревами та зонами відпочинку. Дитячий майданчик знаходиться на прибудинковій території.

    section.health.overview__items
      .container
        .content
          h2.title.content__title
            span.head-line Ваше
            |  здоров’я
          p.content__description Будь-яка мінімальна, проте регулярна фізична активність дуже корисна для здоров’я. Фізична активність допомагає запобігти хворобам серця, діабету, остеопорозу, а також безлічі інших захворювань. Ми подбаємо про Ваше здоров’я, обирайте вид спорту який підходить саме Вам.
        .overview__items-container
          article.overview__item
            .container
              .item-header
                .item-header__text Медичний центр
                .item-header__icon
                  +svg('medicalCenter')
              .content
                h3.title.content__title
                  span.head-line Медичний
                  |  центр
                p.content__description Отримайте  медичні послуги найвищої якості в умовах максимального комфорту. Відвідайте комплекс для отримання необхідних медичних послуг для підримки і турботи за Вашим станом здоров'я. Вашим комфортом та самопочуттям опікуються фахівці, які повністю відповідають за ваше здоров’я. Для них ваша безпека на першому місці.
          article.overview__item
            .container
              .item-header
                .item-header__text Дитячий майданчик
                .item-header__icon
                  +svg('playground-main')
              .content
                h3.title.content__title
                  span.head-line Дитячий
                  |  майданчик
                p.content__description Дитячий майданчик - це одне з найперших місць, крім будинку, де малюк буде активно пізнавати навколишній світ, знайомитися з іншими дітьми, вчитися взаємодіяти та спілкуватися з ними, бавитися, розважатися, розвиватися, знаходити та відстоювати своє місце в соціумі. Батофункціональному просторі забезпечують нашим дітям дитячі майданчики
          article.overview__item
            .container
              .item-header
                .item-header__text Фітнес центр
                .item-header__icon
                  +svg('fitness')
              .content
                h3.title.content__title
                  span.head-line Фітнес
                  |  центр
                p.content__description Фітнес клуб - це ефективний спосіб знайти прекрасну форму, відмінний настрій і впевненість у собі. Затишна атмосфера нашого клубу і кваліфікований персонал допоможуть Вам у найкоротші терміни досягти бажаного результату. До Ваших послуг тренажерний зал, фітнес зал, зал боксу, фрешбар, масажний кабінет.
