.construction-progress
  &__title
    margin-bottom: 30px
  &__galery
    justify-content: center
    margin-bottom: 25px
    +media(540)
      justify-content: space-between
  &__img
    flex-basis: 75%
    max-width: 75%
    height: 260px
    margin-bottom: 25px
    padding-left: 1.5%
    padding-right: 1.5%
    transition: .5s ease
    align-self: center
    cursor: pointer
    &:nth-child(n+4)
      display: none
    +media(540)
      flex-basis: 50%
      max-width: 50%
      &:nth-child(n+4)
        display: block
    +media(1024)
      flex-basis: 25%
      max-width: 25%
    img
      height: 100%
      object-fit: cover
      object-position: top
    &:hover
      transform: scale(1.1)
  .btn-wrap
    text-align: center
  &__btn
    padding: 15px 20px
    font-size: 1.6rem
    +media(768)
      padding: 20px 40px
      font-size: 1.8rem
