.hero
  position: relative
  margin-bottom: 50px
  background: $bg url(../img/hero.jpg) center bottom/cover no-repeat
  &::before
    content: ''
    position: absolute
    top: 0
    left: 0
    width: 50%
    height: 100%
    background-color: rgba(13, 27, 41, .55)
    backdrop-filter: blur(0.5px)
    filter: blur(2px)
  .left-side
    position: relative
    padding-top: 250px
    padding-bottom: 215px
    color: $fontColorSecond
  .tagline
    margin-bottom: 15px
    font: 500 $fTitleMain 'Roboto Slab', Arial, serif
    text-transform: uppercase
  .hero__title
    font: 500 $fTextSecond 'Roboto', Arial, serif
    line-height: 1.5
    .text
      display: block
  @media screen and ( max-width: 1630px )
    .left-side
      padding-top: 210px
      padding-bottom: 180px
  @media screen and ( max-width: 1367px )
    .left-side
      padding-top: 65px
      padding-bottom: 55px
